.sign-heading {
  width: 100vw;
  height: 13vh;
}

.sign-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 8vh;
  font-family: serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}