<div class="diary-btn">
  <div class="diary-write-btn">
    <a href="/diaries/new">
      <span class='diary-btn-text'>にっきをかく</span>
      <%= image_tag "diary.png", class:"diary-btn-image"%>
    </a>
  </div>
</div>