<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class="heading">
    <%= link_to 'ろぐ', "/", class:"title" %>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li class="nav-list1">自分のにっき</li>
      <li class="nav-list2">ログアウト</li>
    </ul>
  </div>
</header>