<%= render "shared/header" %>
<%= render "shared/diary-btn" %>

<div class="contents">
  <div class="first-view">
    <h2 class='top-page-text'>〜つながり〜</h2>
    <img src="top-page.jpg" alt="トップ画面" class="top-image">
  </div>
  <div class="main-content">
    <div class="upper-title">
      <h2 class="heading-name">みんなのにっき</h2>
    </div>
    <div class="diaries">
      <div class="diary">
        <div class="diary-top">
          <h4 class="message-date">2020/10/01</h4>
          <h4 class='diary-name'>太郎</h4>
        </div>
        <img src="log.jpg" alt="日記画像" class="write-image">
        <div class="diary-titles">
          <p class="diary-title">水族館に行った</p>
        </div>
      </div>
      <div class="diary">
        <div class="diary-top">
          <h4 class="message-date">2020/10/01</h4>
          <h4 class='diary-name'>じろう</h4>
        </div>
        <img src="log.jpg" alt="日記画像" class="write-image">
        <div class="diary-titles">
          <p class="diary-title">水族館あああああああああああああああああああああああに行った</p>
        </div>
      </div>
      <div class="diary">
        <div class="diary-top">
          <h4 class="message-date">2020/10/01</h4>
          <h4 class='diary-name'>さぶろう</h4>
        </div>
        <img src="log.jpg" alt="日記画像" class="write-image">
        <div class="diary-titles">
          <p class="diary-title">水族館に行った</p>
        </div>
      </div>
      <div class="diary">
        <div class="diary-top">
          <h4 class="message-date">2020/10/01</h4>
          <h4 class='diary-name'>かほ</h4>
        </div>
        <img src="log.jpg" alt="日記画像" class="write-image">
        <div class="diary-titles">
          <p class="diary-title">水族館に行った</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
